 <div class="main">
  <div class="inner">

    <%= image_tag "nature.JPG" , class: "user_image" %>

    <div class="anyusers__wrapper">
      <h5 class="user_page"><%= "#{@user.nickname}さん!!健康診断自己チェックの回答・対策への選択・決定とお疲れ様でした++**++**^^"%></h5><br><hr>
       <h2> ☆共感できた投稿者 </h2>
      <%= @user %><br>
      
    </div>
  </div>
</div>